.article-card {
  width: 65%;
  margin: 26px 0;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  background-color: #fff;
  padding: 19px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 3px;
  overflow-wrap: break-word;
}
