@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.article {
  display: grid;
  row-gap: 4px;
  column-gap: 10%;
  background-color: #fff;
  .article-header {
    grid-column: 1/2;
    font-size: 20px;
    display: flex;
    gap: 13px;
    align-items: center;
    .article-title {
      line-height: 28px;
      color: #1890ff;
      cursor: pointer;
    }
    .btn-like {
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;
      .heart-image {
        width: 16px;
        height: 16px;
      }
      .likes-number {
        font-size: 12px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .tags-group {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    div {
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      display: flex;
      align-items: center;
      padding: 0px 5px;
      height: 20px;
      white-space: nowrap;
    }
    .tag-active {
      color: #000;
      border-color: #000;
    }
  }
  .article-text {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: break-word;
  }
  .user-info-and-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: flex-start;
    align-items: flex-end;
    .user-info {
      display: flex;
      gap: 12px;
      .user-name {
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.85);
      }
      .publication-date {
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
      }
      .user-avatar {
        width: 46px;
        height: 46px;
      }
    }
    .buttons-group {
      display: flex;
      gap: 12px;
      align-items: center;
      button {
        width: 78px;
        height: 31.1px;
        border-radius: 5px;
        background-color: transparent;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
      }
      .delete-button {
        border: 1px solid #f5222d;
        color: #f5222d;
      }
      .edit-button {
        border: 1px solid #52c41a;
        color: #52c41a;
      }
    }
  }
}
